<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>Companies List</title>
</head>

<table class="table">
  <thead>
    <td scope="col">Name</td>
    <td scope="col">Address</td>
    <td scope="col">City</td>
    <td scope="col">State</td>
    <td scope="col">Zip</td>
    <td scope="col">Phone</td>
  </thead>
  <tbody>
  {% for company in companies %}
    <tr>
      <td>{{ company.name }}</td>
      <td>{{ company.address }}</td>
      <td>{{ company.state }}</td>
      <td>{{ company.city }}</td>
      <td>{{ company.zip }}</td>
      <td>{{ company.phone }}</td>
      <td><a href="{{ path('edit_company', {'name': company.name }) }}">Edit</a></td>
      <td><a href="{{ path('delete_company', {'name': company.name }) }}">Delete</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>


<a href="{{  path('add_company') }}">Add New Company</a>

