<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Person List</title>
</head>

<table class="table">
    <thead>
    <td scope="col">FName</td>
    <td scope="col">LName</td>
    <td scope="col">Company</td>
    <td scope="col">Phone</td>
    <td scope="col">Email</td>
    </thead>
    <tbody>
    {% for person in peopleList %}
        <tr>
            <td>{{ person.first_name }}</td>
            <td>{{ person.last_name }}</td>
            <td>{{ person.company }}</td>
            <td>{{ person.phone}}</td>
            <td>{{ person.email}}</td>
            <td><a href="{{ path('edit_person', {'name': person.first_name }) }}">Edit</a></td>
            <td><a href="{{ path('delete_person', {'name': person.first_name }) }}">Delete</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<a href="{{  path('add_person') }}">Add New Person</a>